html{
	background: linear-gradient(to bottom, #00223E, #FFA17F);
	background-repeat: no-repeat;
	background-size: cover;
}

body{
	margin: 0;
}



.tittle{
	margin: 0;
	margin-bottom: 0.5rem;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-weight:bolder;
}

.conteudo{
	margin: 0;
	margin-bottom: 1rem;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-weight:400;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
	text-align: center;

}

.skill{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: column;
	gap: 0;
}

label{
	font-size: 1.6rem;
	font-family: roboto;
	background: -webkit-linear-gradient(#232526, #414345);
  -webkit-background-clip: text;
	background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text{
	width: 5rem;
	height: 3rem;
	border-radius: 20px;
	border-style: none;
	text-align: center;
	font-size: 2rem;
}

.buttons{
	display: flex;
	gap: 1rem;
}

.button{
	border-radius: 10%;
	background: linear-gradient(to bottom, #000000a6, #00000092);
	border-style: none;
	width: 3rem;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image{
	width: 2rem;
	height: 2rem;
}

.sanity{
	margin-bottom: 0.8rem;
}



.health{
	display: flex;
	flex-direction: column;
	margin-left: 2rem;
	margin-right: 2rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

progress {
  border-radius: 7px; 
  width: 30%;
  height: 1.5rem;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.586);
} 	

progress::-webkit-progress-bar {
  background-color: rgb(214, 205, 205);
  border-radius: 7px;
}

.vida::-webkit-progress-value {
  background-color: rgb(0, 245, 61);
  border-radius: 7px;
}

.sanidade::-webkit-progress-value {
  background-color: rgba(69, 172, 95, 0.641);
  border-radius: 7px;
}

.choseButton{
	border-style: none;
	font-family: roboto;
	font-size: 2rem;
	width: 70%;
	height: 8%;
	background: -webkit-linear-gradient(#d8dcde81, #ffffff78);
}

.choseButtons{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.chose{
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 1;
	background: linear-gradient(to bottom, #00223E, #FFA17F);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
}

.smaller{
	display: flex;
	font-size: 1rem;
	font-family: Michroma;
	flex-direction: column;
	align-items:flex-start;
	justify-content: flex-end;
	margin-left: 1rem;
	height: 40%;
	width: 100%;
}

sup{
	color: purple;
	font-size: 1rem;
}

.lista{
	margin: 0;
	margin-bottom: 0.5rem;
}

.big{
	height: 60%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items:center;
	font-size: 3.5rem;
	font-family: Michroma;
}

.whiteBox{
	background:white;
	width: 17rem;
	height: 17rem;
	border-radius: 10%;
}

.screen{
	display: flex;

	justify-content: center;
	align-items: center;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	opacity: 1;
	backdrop-filter: blur(7px)
}

#image{
	width: 70%;
	height: 30%;
	border-style:groove;
	border-width: 0.2rem;
	border-color:#5f076d;
}

.details{
	width: 100%;
	background-image: url('https://img.freepik.com/free-photo/vintage-grungy-textured-paper-background_53876-103932.jpg?w=1060&t=st=1663271667~exp=1663272267~hmac=69b56ffb76e89d28dc608f3df387c77b4d6509ae11f4565137264a7af52e4367');
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
}

.number{
  font-size: 2rem;
  background: -webkit-linear-gradient(#000000, #434343);
  -webkit-background-clip: text;
	background-clip: text;
  -webkit-text-fill-color: transparent;
}


.summary{
	font-family: Bungee;
	color: rgba(0, 0, 0, 0.873);
	list-style: none;
	font-size: 1.7rem;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 2.5rem;
}

.customDice{
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	height: 100%;
	width: 100%;
	backdrop-filter: blur(7px);
	top: 0;
	right: 0;
}

.wraper{
	display: flex;
	align-items: center;
	background: transparent;
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 3rem;
	border-radius: 30px;
}

.dicebtn{
	display: flex;
	gap: 0.6rem;
}

.wraper input{
	width: 10rem;
	height: 6rem;
	border: groove;
	border-color: #5f076d;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	user-select: none;
	-webkit-appearance: none;
	-moz-appearance: textfield;
	text-align: center;
	font-size: 3rem;
	font-family: Michroma;
}

/* For Mozilla */
input[type=number] {
  -moz-appearance: textfield;
}
/* For Chromium */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dices{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 5rem;
	height: 3rem;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 120%;
	font-weight:bolder;
	background-color: #FFFFFF;
	border: none;
	border-radius: 5px;
}

.options{
	display: flex;
	flex-direction: column;
	background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	padding: 0.5rem;
	border-radius: 10px;
	position: fixed;
	bottom: 3rem;
	left: 3rem;
	height: fit-content;
	width: fit-content;
	gap: 0.2rem;
	align-items: center;
	justify-content: center;
}

.btns{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.3rem;
	border: none;
	border-radius: 5px;
	width: 100%;
	height: max-content;
	font-size: 150%;
}

.optionsBtn{
	position: fixed;
	border-radius: 10px;
	bottom: 0.5rem;
	left: 0.5rem;
	height: 2.7rem;
	width: 2.7rem;
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
	backdrop-filter: blur(10px);
}

.summary:hover{
	cursor: pointer;
}

.main{
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
	margin-top: 1.5rem;
	margin-bottom: 100%;
}

details[open] summary ~ * {
  animation: sweep 0.6s forwards;
	animation-iteration-count: 1;
}

@keyframes sweep {
  0%    {opacity: 0; margin-left: -1rem}
  100%  {opacity: 1; margin-left: 2rem}
}

.stats{
	font-family:'Reem Kufi Fun', sans-serif;
	display: flex;
	flex-direction: column;
}


.stat{
	font-family: Roboto;
	display: flex;
	justify-content: space-between;
	margin-left: 2rem;
	margin-right: 2rem;
	align-items: center;
	height: fit-content;
	background: -webkit-linear-gradient(#232526, #414345);
  -webkit-background-clip: text;
	background-clip: text;
  -webkit-text-fill-color: transparent;
}