body{
	margin: 0;
	background: linear-gradient(to bottom, #00223E, #FFA17F);
}

label{
	font-size: 1.6rem;
	font-family: roboto;
	background: -webkit-linear-gradient(#232526, #414345);
  -webkit-background-clip: text;
	background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text{
	width: 3rem;
	height: 2rem;
	border-radius: 10%;
	border-style: none;
}

.buttons{
	display: flex;
	gap: 1rem;
}

.button{
	border-radius: 10%;
	background: linear-gradient(to bottom, #feffff7d, #32426747);
	border-style: none;
	width: 2.3rem;
	height: 2rem;
}

.image{
	width: 1rem;
	height: 1rem;
}

.sanity{
	margin-bottom: 0.8rem;
}



.health{
	display: flex;
	flex-direction: column;
	margin-left: 2rem;
	margin-right: 2rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

progress {
  border-radius: 7px; 
  width: 30%;
  height: 1.5rem;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.586);
} 	

progress::-webkit-progress-bar {
  background-color: rgb(214, 205, 205);
  border-radius: 7px;
}

.vida::-webkit-progress-value {
  background-color: rgb(0, 245, 61);
  border-radius: 7px;
}

.sanidade::-webkit-progress-value {
  background-color: rgba(69, 172, 95, 0.641);
  border-radius: 7px;
}

.choseButton{
	border-style: none;
	font-family: roboto;
	font-size: 2rem;
	width: 70%;
	height: 8%;
	background: -webkit-linear-gradient(#d8dcde81, #ffffff78);
}

.choseButtons{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.chose{
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 1;
	background: linear-gradient(to bottom, #00223E, #FFA17F);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
}

.smaller{
	display: flex;
	font-size: 1rem;
	font-family: Michroma;
	flex-direction: column;
	align-items:flex-start;
	justify-content: flex-end;
	margin-left: 1rem;
	height: 40%;
	width: 100%;
}

sup{
	color: purple;
	font-size: 1rem;
}

.lista{
	margin: 0;
	margin-bottom: 0.5rem;
}

.big{
	height: 60%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items:center;
	font-size: 3.5rem;
	font-family: Michroma;
}

.whiteBox{
	background:white;
	width: 17rem;
	height: 17rem;
	border-radius: 10%;
}

.screen{
	display: flex;

	justify-content: center;
	align-items: center;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	opacity: 1;
	backdrop-filter: blur(7px)
}

#image{
	width: 70%;
	height: 30%;
	border-style:groove;
	border-width: 0.2rem;
	border-color:#5f076d;
}

.details{
	width: 100%;
	background-image: url('https://img.freepik.com/free-photo/vintage-grungy-textured-paper-background_53876-103932.jpg?w=1060&t=st=1663271667~exp=1663272267~hmac=69b56ffb76e89d28dc608f3df387c77b4d6509ae11f4565137264a7af52e4367');
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
}

.number{
  font-size: 2rem;
  background: -webkit-linear-gradient(#000000, #434343);
  -webkit-background-clip: text;
	background-clip: text;
  -webkit-text-fill-color: transparent;
}


.summary{
	font-family: Bungee;
	color: rgba(0, 0, 0, 0.873);
	list-style: none;
	font-size: 1.7rem;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 2.5rem;
}

.summary:hover{
	cursor: pointer;
}

.main{
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
	margin-top: 1.5rem;
	margin-bottom: 3rem;
}

details[open] summary ~ * {
  animation: sweep 0.6s forwards;
	animation-iteration-count: 1;
}

@keyframes sweep {
  0%    {opacity: 0; margin-left: -1rem}
  100%  {opacity: 1; margin-left: 2rem}
}

.stats{
	font-family:'Reem Kufi Fun', sans-serif;
	display: flex;
	flex-direction: column;
}


.stat{
	font-family: Roboto;
	display: flex;
	justify-content: space-between;
	margin-left: 2rem;
	margin-right: 2rem;
	align-items: center;
	height: fit-content;
	background: -webkit-linear-gradient(#232526, #414345);
  -webkit-background-clip: text;
	background-clip: text;
  -webkit-text-fill-color: transparent;
}